/* Write your CSS here */
.bg {
  background-color: #ffc2a0;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;
}
.heading {
  text-align: center;
  color: #ff8542;
  font-size: 32px;
}
.list-container {
  list-style-type: none;
}
.add-input {
  height: 28px;
  width: 500px;
  outline: none;
  cursor: pointer;
}
.add-btn {
  border-radius: 8px;
  border: 0;
  height: 24px;
  width: 80px;
  font-size: 18px;
  background-color: rgb(44, 227, 172);
  outline: none;
  cursor: pointer;
  margin-left: 30px;
  color: #ffffff;
}
